
  <!-- Page Container -->
  <div class="w3-content w3-margin-top" style="max-width:1400px;">
  
    <!-- The Grid -->
    <div class="w3-row-padding">
    
      <!-- Left Column -->
      <div class="w3-third">
      
        <div class="w3-white w3-text-grey w3-card-4">
          <div class="w3-display-container">
            <img src="/../assets/images/profile-image.jpg" style="width:100%" alt="Avatar">
            <br><br><br>
            <div class="w3-display-bottomleft w3-container w3-text-black">
              <h2>Abdulaziz Alshabibi</h2>
            </div>
          </div>
          <div class="w3-container">
            <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-deep-purple"></i>Programmer</p>
            <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-deep-purple"></i>Evansville, IN</p>
            <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-deep-purple"></i>az.s.shabibi@gmail.com</p>
            <hr>
  
            <p class="w3-large"><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-deep-purple"></i>Skills</p>
            <div class="w3-tag w3-deep-purple w3-round my-space">JavaScript</div>
            <div class="w3-tag w3-deep-purple w3-round my-space">HTML-CSS</div>
            <div class="w3-tag w3-deep-purple w3-round my-space">Bootstrap</div>
            <div class="w3-tag w3-deep-purple w3-round my-space">C++</div>
            <div class="w3-tag w3-deep-purple w3-round my-space">Java</div>
            <div class="w3-tag w3-deep-purple w3-round my-space">MEAN stack</div>
            <div class="w3-tag w3-deep-purple w3-round my-space">Angular</div>
            <div class="w3-tag w3-deep-purple w3-round my-space">Git</div>

            <p style="padding-top: 50px">less experienced</p>
            <div class="w3-tag w3-purple w3-round my-space">PHP</div>
            <div class="w3-tag w3-purple w3-round my-space">C#</div>
            <div class="w3-tag w3-purple w3-round my-space">C</div>
            <div class="w3-tag w3-purple w3-round my-space">Unix</div>
            <div class="w3-tag w3-purple w3-round my-space">Ubuntu</div>
            <div class="w3-tag w3-purple w3-round my-space">Ruby</div>
            <div class="w3-tag w3-purple w3-round my-space">Ruby on Rails</div>
            <div class="w3-tag w3-purple w3-round my-space">Electron</div>
            
            <br>
            <br>
          </div>
        </div><br>
  
      <!-- End Left Column -->
      </div>
  
      <!-- Right Column -->
      <div class="w3-twothird">
      
        <div class="w3-container w3-card w3-white w3-margin-bottom">
          <h2 class="w3-text-grey w3-padding-16">
            <i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-deep-purple"></i>Projects</h2>
          <div class="w3-container">
            <h5 class="w3-opacity"><b>Personal Website / aziz.net</b></h5>
            <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Ongoing</h6>
            <p>Developed my personal website using Angular. I enhanced my front-end skill with angular.</p>
            <hr>
          </div>
          <div class="w3-container">
            <h5 class="w3-opacity"><b>Web Developer / events.com</b></h5>
            <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Summer 2018</h6>
            <p>I develped a web application using MEAN stack. Through this project, I developed my frot-end skill with Angular and back-end skill with NodeJS and Express framework. Plus, I engaged in the databases with MongoDB. </p>
            <hr>
          </div>
          <div class="w3-container">
            <h5 class="w3-opacity"><b>Graphic Designer / designsomething.com</b></h5>
            <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jun 2010 - Mar 2012</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p><br>
          </div>
        </div>
  
        <div class="w3-container w3-card w3-white">
          <h2 class="w3-text-deep-purple w3-padding-16">
            <i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-deep-purple"></i>Education</h2>
          <div class="w3-container">
            <h5 class="w3-opacity"><b>University of Evansville</b></h5>
            <h6 class="w3-text-deep-purple"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2015 - 2019</h6>
            <p>B.S. Computer Science</p>
          </div>
        </div>
  
      <!-- End Right Column -->
      </div>
      
    <!-- End Grid -->
    </div>
    
    <!-- End Page Container -->
  </div>
  