<div class="my-bdy">

  <div class="w3-container w3-card w3-white w3-margin-bottom">
    <h2 class="w3-text-grey w3-padding-16">
      <i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-deep-purple"></i>CS Courses</h2>
    <div class="w3-container">
      <h5 class="w3-opacity"><b>CS Courses</b></h5>
      <h6 class="w3-text-teal"><span class="w3-tag w3-teal w3-round">University of Evansville</span></h6>
      <p>Computer science classes I took at college</p>
      <button (click)="classesPage()" type="button" class="btn w3-deep-purple">See more...</button>
      <hr>
    </div>
  </div>

  <div class="w3-container w3-card w3-white w3-margin-bottom">
      <h2 class="w3-text-grey w3-padding-16">
        <i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-deep-purple"></i>Java Projects</h2>
      <div class="w3-container">
        <h5 class="w3-opacity"><b>Light Java Projects</b></h5>
        <h6 class="w3-text-teal"><span class="w3-tag w3-teal w3-round">Java</span>
          <span class="w3-tag w3-teal w3-round my-space">object-oriented-design</span></h6>
        <p>Small porjects implemented using Java</p>
        <form action="https://github.com/program-om/Java_Projects">
          <button type="submit" class="btn w3-deep-purple">See more...</button>
        </form>
        
        <hr>
      </div>
  </div>
</div>

