<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <nav class="navbar navbar-inverse navbar-fixed-top" >
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">Abdulaziz</a>
      </div>
      <ul class="nav navbar-nav">
        <li>
          <a (click)="toHome()" routerLink="/" routerLinkActive="active">Home</a>
        </li>
        <li >
          <a (click)="toAbout()" routerLink="/about" routerLinkActive="active">Resume</a>
        </li>
        <li >
          <a (click)="toPortfolio()" routerLinkActive="selected">Portfolio</a>
        </li>
        <li >
          <a (click)="toBlog()" routerLinkActive="selected">Blog</a>
        </li>
      </ul>
      
    </div>
  </nav>
  <br><br><br>

  <router-outlet></router-outlet>
</div>
<div style="margin: 200px"></div>
<app-footer></app-footer>


